<br>
<div class="pimg1">


    <div class="ptext animated fadeIn">
        <span class="border trans">
                <p id="title"> ROSE BUILDING MAINTENANCE</p>
                </span>
    </div>

</div>
<section class="section section-dark">

    <h2 style="text-decoration:underline;"> Our Goal </h2>
    <p>The selection of the right cleaning company is an important decision that can go a long way in enhancing your company’s
        professional image.</p>
    <p>

        Rose Building Maintenance has the knowledge, experience, and personnel necessary to create an individualized cleaning program
        for your business, regardless of size. Whether you require daily, weekly, or even monthly service, we can provide
        you with a number of contract and on-demand services. At Rose Building Maintenance, we can help you with any of the
        following:</p>




    <!--
            <h2> Zaid | زيد </h2>
            <h3></h3>
            <h3> Growth, Abundance, One who makes progress</h3>
            <p style="font-size:14px;">     My name is Zaid Darryl Samuel, and the meaning of my first name perfectly encapsulates my relationship with technology.I appreciate, and seek to develop
                tools that help people to grow, that empower them towards abundance, and which can be used as a tool through which their own individual goals and destiny may be forged.</p>
            <p style="font-size:14px;"> I truly believe that technology, and especially computer/web technology has the ability to free humanity from its shackles, the greatest of which being ignorance.</p>
            <p style="font-size:14px;"> Please have a look at some of the more robust projects i have worked on during my self-directed Html, JQuery, CSS, Bootstrap, AngularJs, Angular, MongoDb, Nodejs, Express,(and more!), educational path. iI am only at the beginning of my journey into full-stack web development, but i 
                already am confident i can provide great value and passion to your company, and projects.</p>
-->
</section>
<div class="pimg2">
    <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href = "http://rosebuildingmaintenance.herokuapp.com/"> Rose Inventory Management System</a>
                </span>
            </div>-->
</div>

<section class="section section-dark">

    <h2 style="text-decoration:underline;"> A clean, safe, and healthy environment for your customers and employees </h2>
    <p>Clean buildings extend the longevity of the structure.</p>
    <p>
        Clean buildings convey a caring attitude</p>
    <p>
        Clean buildings ensure a contaminate free, thus safer and healthier, environment</p>


</section>

<div class="pimg3">
    <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
</div>
<section class="section section-dark">

    <h2 style="text-decoration:underline;"> Improve employee morale </h2>
    <p>Cleanliness equates to employee happiness and reduced employee turnover</p>
    <p>Employee productivity has been shown to increase in a clean building</p>
    <h2 style="text-decoration:underline;"> Reduce costs and increase revenue</h2>
    <p>Maintenance costs are reduced in a clean building</p>
    <p>Increased tenant satisfaction and reduced tenant turnover can be attributed to a clean building</p>


    <a style="text-decoration:none;  color:#666;" href="https://github.com/ohrha/ROSE"> 
</a>
</section>
<!-- <section class = "section section-dark">

            <h2> Reduce costs and increase revenue
</h2>
            <p> Chanka Blanko</p>
        </section>-->
<div class="pimg1">
    <div class="ptext">
        <span class="border trans">
                   <p> SUITE 118, NO.7 ST.ANNE STREET</p>
                   <p> ST.ALBERT, ALBERTA T8N 2X4</p>
                   <p> TEL| 780-459-4146</p>
                   <p> FAX| 780-460-4146</p>
                </span>
    </div>
</div>