<div id="margin">
<br>
    <div class="pimg1">


        <div class="ptext animated fadeIn">
            <span class="border trans">
                <p id="title"> EMPLOYMENT</p>
                </span>
        </div>

    </div>
    <section class="section section-dark">

        <h2 style="text-decoration:underline;"> Improve employee morale </h2>
        <a style="text-decoration:none;  color:#666;" href="https://github.com/ohrha/ROSE">
            <p>Employee productivity has been shown to increase in a clean building</p>
            <p>Cleanliness equates to employee happiness and reduced employee turnover</p>
        </a>
        <!--
            <h2> Zaid | زيد </h2>
            <h3></h3>
            <h3> Growth, Abundance, One who makes progress</h3>
            <p style="font-size:14px;">     My name is Zaid Darryl Samuel, and the meaning of my first name perfectly encapsulates my relationship with technology.I appreciate, and seek to develop
                tools that help people to grow, that empower them towards abundance, and which can be used as a tool through which their own individual goals and destiny may be forged.</p>
            <p style="font-size:14px;"> I truly believe that technology, and especially computer/web technology has the ability to free humanity from its shackles, the greatest of which being ignorance.</p>
            <p style="font-size:14px;"> Please have a look at some of the more robust projects i have worked on during my self-directed Html, JQuery, CSS, Bootstrap, AngularJs, Angular, MongoDb, Nodejs, Express,(and more!), educational path. iI am only at the beginning of my journey into full-stack web development, but i 
                already am confident i can provide great value and passion to your company, and projects.</p>
-->
    </section>
    <div class="pimg2">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href = "http://rosebuildingmaintenance.herokuapp.com/"> Rose Inventory Management System</a>
                </span>
            </div>-->
    </div>
    <!--     <section class = "section section-light">

            <h2 style="text-decoration:underline;"> Improve employee morale  </h2>
            <a style="text-decoration:none;  color:#666;" href = "https://github.com/ohrha/ROSE"> <p>Employee productivity has been shown to increase in a clean building</p>
<p>Cleanliness equates to employee happiness and reduced employee turnover</p></a>
        </section>-->


    <div class="pimg3">
        <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
    </div>
    <!-- <section class = "section section-dark">

            <h2> Reduce costs and increase revenue
</h2>
            <p> Chanka Blanko</p>
        </section>-->
    <div class="pimg1">
        <div class="ptext">
            <span class="border trans">
                    
                </span>
        </div>
    </div>


</div>