<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-12 text-center" *ngFor="let client of clientsArray; let i=index;">

    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h4>{{client.name}}</h4>
      <button (click)="openEditFormFunc();" class="btn btn-primary">Edit {{client.name}}</button>
<br>
<br>
<div class = "panel panel-default">

      <form class="animated fadeIn" *ngIf="openEditForm">
        
        <button class="btn btn-primary" (click)="openEditSubcontractorsFunc();">Edit Subcontractor</button>
        <button class="btn btn-primary" (click)="openAddSubcontractorsFunc();">Add Subcontractor</button>
        
        <div *ngIf="openAddSubcontractors">

          <form class="animated fadeIn"(submit)="addSubcontractor(client.name)">

            <div class="form-group">
              <br>
              <div class = "panel panel-default">
                <div class = "panel panel-heading">

              <label>Name(Subcontractor)</label>
                </div>
                <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Name...)" [(ngModel)]="subcontractorName" name="subcontractorName"
                class="form-control">
                               <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorNameConditionsNotMet">
            </div>
              <div class = "well well-sm"*ngIf="addSubcontractorNameConditionsNotMet">

                <p><strong>{{addSubcontractorNameConditionsNotMetMsg}}</strong></p>
              </div>
                </div>
              </div>
 

            </div>
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">

              <label>Contact Name</label>
                </div>
                <div class ="panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Contact Name...)" [(ngModel)]="subcontractorContactName" name="subcontractorContactName"
                class="form-control">
                </div>
                                   <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorContactNameConditionsNotMet">
            </div>
              <div class = "well well-sm"*ngIf="addSubcontractorContactNameConditionsNotMet">

                <p><strong>{{addSubcontractorContactNameConditionsNotMetMsg}}</strong></p>
              </div>
              </div>
       
            </div>
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">

              <label>Contact Phone Number</label>
                </div>
                <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Contact Phone Number...)" [(ngModel)]="subcontractorContactPhone"
                name="subcontractorContactPhone" class="form-control">
                              </div>
                          <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorContactPhoneConditionsNotMet">
            </div>
                 <div class = "well well-sm"*ngIf="addSubcontractorContactPhoneConditionsNotMet">

                <p><strong>{{addSubcontractorContactPhoneConditionsNotMetMsg}}</strong></p>
              </div>
                </div>

            </div>
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">

              <label>Contact Email</label>
                </div>
                <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Contact Email...)" [(ngModel)]="subcontractorContactEmail" name="subcontractorContactEmail"
                class="form-control">
                            <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorContactEmailConditionsNotMet">
            </div>
                 <div class = "well well-sm"*ngIf="addSubcontractorContactEmailConditionsNotMet">

                <p><strong>{{addSubcontractorContactEmailConditionsNotMetMsg}}</strong></p>
              </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">

              <label>Phone Number</label>
                </div>
                <div class ="panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Phone Number...)" [(ngModel)]="subcontractorPhoneNumber" name="subcontractorPhoneNumber"
                class="form-control">
                            <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorPhoneNumberConditionsNotMet">
            </div>
                 <div class = "well well-sm"*ngIf="addSubcontractorPhoneNumberConditionsNotMet">

                <p><strong>{{addSubcontractorPhoneNumberConditionsNotMetMsg}}</strong></p>
              </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">
              <label>Email Address</label>
                </div>
                <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Email Address...)" [(ngModel)]="subcontractorEmailAddress" name="subcontractorEmailAddress"
                class="form-control">
            <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorEmailAddressConditionsNotMet">
            </div>
                    <div class = "well well-sm"*ngIf="addSubcontractorEmailAddressConditionsNotMet">

                <p><strong>{{addSubcontractorEmailAddressConditionsNotMetMsg}}</strong></p>
              </div>
            </div>
              </div>
            </div>
            <div class="form-group">
              <div class ="panel panel-default">
                <div class = "panel panel-heading">

              <label>Store Numbers(SC)</label>
                </div>
                <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Store Numbers...)" [(ngModel)]="subcontractorStoreNumber" placeholder="{{subcontractorStoreNumbers}}"
                name="subcontractorStoreNumber" class="form-control">

              <button class="btn btn-default" (click)="addStoreNumberToSubcontractorFunc(); $event.preventDefault();">Insert    <i class="fa fa-plus-circle buttonstyling" aria-hidden="true" ></i></button>
              <button class="btn btn-default" (click)="removeStoreNumberFromSubcontractorFunc(); $event.preventDefault();">Remove  <i class="fa fa-minus-circle buttonstyling" aria-hidden="true" ></i></button>
            <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorStoreNumbersConditionsNotMet">
            </div>
                        <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorStoreNumberConditionsMet">
            </div>
            <div class ="well well-sm"*ngIf="addSubcontractorStoreNumberConditionsMet">
               <p><strong> {{addSubcontractorStoreNumberConditionsMetMsg}}</strong></p>

              </div>
                    <div class = "well well-sm"*ngIf="addSubcontractorStoreNumbersConditionsNotMet">
                                                
                <p><strong>{{addSubcontractorStoreNumbersConditionsNotMetMsg}}</strong></p>
              </div>
                </div>
            </div>
            </div>
            
            <div class="form-group">
              <div class = "panel panel-default">
                <div class = "panel panel-heading">
              <label>Locations(SC)</label>
              </div>
              <div class = "panel-body">
              <input type="text" placeholder="(Please Enter Subcontractor Locations...)" [(ngModel)]="subcontractorLocation" placeholder="{{subcontractorLocations}}"
                name="subcontractorLocation" class="form-control">

              <button class="btn btn-default " (click)="addLocationToSubcontractorFunc(); $event.preventDefault();">Insert    <i class="fa fa-plus-circle buttonstyling" aria-hidden="true"></i></button>
              <button class="btn btn-default" (click)="removeLocationFromSubcontractorFunc(); $event.preventDefault();">Remove  <i class="fa fa-minus-circle buttonstyling" aria-hidden="true"></i></button>
              </div>

                         <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorLocationsConditionsNotMet">
            </div>
                                     <div class = "placeholderdivsmallwell" *ngIf="!addSubcontractorLocationConditionsMet">
            </div>
                            <div class ="well well-sm"*ngIf="addSubcontractorLocationConditionsMet">
               <p><strong> {{addSubcontractorLocationConditionsMetMsg}}</strong></p>

              </div>
              <div class = "well well-sm"*ngIf="addSubcontractorLocationsConditionsNotMet">

                <p><strong>{{addSubcontractorLocationsConditionsNotMetMsg}}</strong></p>
              </div>
                
            </div>
            </div>


            <input type="submit" class="btn btn-submit " value="Add Subcontractor">
            <div class = "placeholderdiv" *ngIf="!allSubcontractorConditionsNotMet">
            </div>
            <div class = "placeholderdiv" *ngIf="!allSubcontractorConditionsMet">
            </div>
            <div class = "well well-md" *ngIf="allSubcontractorConditionsMet">
              <h4>{{allSubcontractorConditionsMetMsg}}</h4>
            </div>
            <div class = "well well-md " *ngIf="allSubcontractorConditionsNotMet">
              <h4>{{allSubcontractorConditionsNotMetMsg}}</h4>
            </div>
          </form>
          <!--<div *ngIf="addSubcontractorSuccess">
            {{addSubcontractorSuccessMsg}}

          </div>
          <div *ngIf="addSubcontractorFailed">

            {{addSubcontractorFailedMsg}}
          </div>-->

          <!--  </div>

        <input type="submit" class="btn btn-default" value="submit">
      </form>-->

        </div>
        <div id="subcontractorborder" *ngIf="openEditSubcontractors">
          <br>

          <div *ngFor="let subcontractor of subcontractorsArray[i]; let z = index;">
            <h4>{{z+1}}|{{subcontractor.name}}</h4>
            <div class="form-group">
              <input class="form-control" name='subContractorName' [(ngModel)]='subContractorName' placeholder="{{subcontractor.name}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.name,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">
              <input class="form-control" name='subContractorContactName' [(ngModel)]='subContractorContactName' placeholder="{{subcontractor.contactname}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.contactname,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">

              <input class="form-control" name='subContractorContactPhone' [(ngModel)]='subContractorContactPhone' placeholder="{{subcontractor.contactphone}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.contactphone,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">

              <input class="form-control" name='subContractorContactEmail' [(ngModel)]='subContractorContactEmail' placeholder="{{subcontractor.contactemail}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.contactemail,z);" class="btn btn-default form-control">edit</button>
              <span *ngIf="loadingEditIcon">LOADING</span>
            </div>
            <div class="form-group">

              <input class="form-control" name='subContractorPhoneNumber' [(ngModel)]='subContractorPhoneNumber' placeholder="{{subcontractor.phonenumber}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.phonenumber,z);" class="btn btn-default form-control">edit</button>
              <span *ngIf="loadingEditIcon">LOADING</span>
            </div>
            <div class="form-group">

              <input class="form-control" name='subContractorEmailAddress' [(ngModel)]='subContractorEmailAddress' placeholder="{{subcontractor.emailaddress}}">
              <button (click)="editSubContractorFunc(client.name,subcontractor.emailaddress,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">
              <input class="form-control" placeholder="{{subcontractor.locations}}" name='subContractorContactEmail' [(ngModel)]='subContractorContactEmail'
                type="text">
              <button (click)="editSubContractorFunc(client.name,subcontractor.locations,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">
              <input class="form-control" placeholder="{{subcontractor.storenumbers}}" name='subContractorContactEmail' [(ngModel)]='subContractorContactEmail'
                type="text">
              <button (click)="editSubContractorFunc(client.name,subcontractor.storenumbers,z);" class="btn btn-default form-control">edit</button>

            </div>
            <div class="form-group">
              <button (click)="removeSubcontractor(client.name,z)" class="btn btn-danger">Remove {{subcontractor.name|slice:0:10}}...</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
    <div class="col-sm-3">
    </div>
    <br><br><br>
  </div>
</div>